.banner {
	position: relative; /*position relative*/
	content: url(../images/banner.jpg); /*image for the banner*/
	width: 100%; /*100% width of the parent element (body)*/
	filter: brightness(0.7); /* changes the brightness of the photo so the elements on top are visible */
}
.headers {
	text-align: center; /*Align the text center*/
	margin-top: 3%; /*50px margin on top of elements*/
}
.row {
	width: 90%; /*90% width of the parent element (body)*/
	padding: 0 5% 5% 5%; /*5% paddint in left,right and bottom of the row*/
	display: flex; /*Display the elements as flex elements so we can create a grid*/
	flex-direction: row; /*declare the axes of the grid in this case rows(horizontal)*/
	justify-content: space-evenly; /*distribution of spaces between elements of the grid in evenly which makes every space between the elements itself and also the grid even*/
	flex-wrap:wrap; /*makes it possible to have multiple lines of div elements, the elements wich are last appear in the next row dependig on the screen size*/
}
.person {
	padding: 2% 0; /* padding in top and bottom of the elements by 25px*/
	display: inherit; /*inherite the diplay value in this case Flex*/
	flex-direction: column; /*declare the axes of the grid.In the element level we have column because the elements inside should be in coloms*/
	transition: all 1s ease; /*transition of all the effects the element has in 1 second using the ease tranisiton timing functions*/
	justify-content: center; /*makes the elements inside appear in the center(horizontaly)*/
	align-items: center; /*makes the elements inside appear in the center(vertically)*/
	width: 30%; /*width of the card*/
	min-width: 400px; /*minimum width the card should have when the screen is smaller (phones/tablets)*/
	height: 400px; /*height of the card */
	perspective: 1000px; /*The distance between the z=0 plane and the user in order to give a 3D-positioned element some perspective */
	margin-bottom: 5%; /*The elment apears 5% from each other verticaly)*/
}
.personInner {
	box-shadow:5px 5px 25px #000; /* box shadow with 25px blur*/
	position: relative; /*relative position to the other objects*/
	width: 100%; /*100% width of the parent element*/
	height: 100%; /*100% height of the parent element*/
	min-height:400px; /*minimum width the card should have when the screen is smaller (phones/tablets)*/
	text-align: center; /* Align the text center*/
	transition: transform 1s; /*a 1s tranisitio in the form of 3d transformation*/
	transform-style: preserve-3d; /*the style of the transofrmation is 3d*/
	border-radius: 15px; /*curve the edge of the images and the card by 15px */
}
.person:hover .personInner {
	transform: rotateY(180deg); /*Rotate the image by 180degre in the vertical axes*/
}
.personPhoto, .personInfo {
	position: absolute; /*absolute position to the other objects*/
	width: 100%; /*100% width of the parent element*/
	height: 100%; /*100% height of the parent element*/
	backface-visibility: hidden; /*Hide and show the back face of two rotated <div> elements*/
	border-radius: 15px; /*curve the edge of the images and the card by 15px */
}
.personInfo {
	background-color: #fab700; /*The background color of the fliped card*/
	color: #fff; /*Text color white*/
	transform: rotateY(180deg); /*Rotate the text by 180degre in the vertical axes*/
	min-height: 350px;
}
.contentPhoto{
	width: 100%; /*100% width of the parent element*/
	height: auto; /* the height is calculated automaticlly by the browser*/
	border-radius: 15px; /*curve the edge of the images and the card by 15px */
}
#veton{ content: url(../images/about/veton.jpg); } /*image for Our team section*/ 
#deti { content: url(../images/about/deti.jpg); } /*image for Our team section*/
#lumi { content: url(../images/about/lumi.jpg); } /*image for Our team section*/
#eris { content: url(../images/about/eris.jpg); } /*image for Our team section*/
#mete { content: url(../images/about/mete.jpg); } /*image for Our team section*/

#map {
	width: 90%; /*90% width of the parent element (body)*/
	height: 600px; /*height of 600px*/
	margin: 5% auto; /*make the map appear in the center(horizontaly) and 5% down from top and bottom*/
	border-radius:15px; /* curved the edges of the map by 15px*/
}
 @media screen and (max-width: 720px) { /* change style when screen size is less than 720 */
.row{
	flex-direction: column; /*change the direct of the grid from row to coloumn to show all the elements in aline*/
	justify-content: space-evenly; /*distribution of spaces between elements of the grid in evenly which makes every space between the elements itself and also the grid even*/
	align-items: center; /*makes the elements inside appear in the center*/
	height: auto; /* the height is calculated automaticlly by the browser*/
	display: flex; /*Display the elements as flex elements so we can create a grid*/
	}
} 
.card {
    display: inherit; /* inherete the display atribute from parent*/
	width: 30%; /* each card should be 30% of the parent in this case class row*/
	min-width:400px; /*minimum width the card should have when the screen is smaller (phones/tablets)*/
    position: relative; /* the element should be positioned relatively to its siblings*/
    flex-direction: column; /* Inside the card the element should be positioned in a column*/
    justify-content: space-evenly; /*distribution of spaces between elements of the grid in evenly which makes every space between the elements itself and also the grid even*/	align-items: center; /* makes the elements inside appear in the center(vertically) */
    border-radius: 10px; /* make the card corners round by 10px*/
    box-shadow:0 0 15px #454545; /* box shadow on all sides with 15px blur*/
    transition:0.5s linear; /* transition of 0.5s using the linear timing function*/
    margin-bottom: 10%; /* increase the spacing from the bottom */
}
.card:hover{
    box-shadow:0 0 35px #000; /* on card hover the size of the shadow increases to 35px*/
    transform: translateY(-10px); /* make the card go up and appear as it comes forward*/
}
.cardImg{
    width: 500px; /* width of the image*/
    max-width:100%; /* the maximum width that the image can have is 100% of the paret (because of flex shrink)*/
    height: auto; /* the height is calculated automaticlly by the browser*/
    vertical-align:middle; /* positions block elements vertically in the middle of the parent div*/
    border-top-left-radius: 10px; /* border radius in the top left is 10px*/
    border-top-right-radius: 10px; /* border radius in the top right is 10px*/
}
.cardBody{
    flex: 1 1 auto; /* flex growth is 1 ,flex shrink is 1 and flex basis is auto*/
    padding: 0px 15px 5px 15px; /* pading in right(15px),bottom(5px) and left(15px)*/
}
.cardBody h5{
    font-size:1.25rem; /* increase font size to 1.25rem*/
    font-weight:600; /* make the font more bold */
    margin-bottom: 15px; /* increase the spacing from the bottom */
}
.cardFooter{
    width:100%; /* 100% width relative to the parent class*/
    text-align:center; /* align text in the center*/
    background-color: #cfcfcf; /* change the background color to some shade of gray*/
    display:block; /* display the element as a bloc*/
    border-bottom-right-radius: 10px; /* border radius in the bottom left is 10px*/
    border-bottom-left-radius: 10px; /* border radius in the bottom left is 10px*/
}
.cardFooter p{
    font-size:.9rem; /* decreased the font size to 0.9 rem*/
    color: #6c757d; /* changed the color of the text to some shade of gray*/
}

#rev1{content: url(../images/reviews/rev1.jpg);} /* image for reviews section*/ 
#rev2{content: url(../images/reviews/rev2.jpg);} /* image for reviews section*/
#rev3{content: url(../images/reviews/rev3.jpg);} /* image for reviews section*/
#rev4{content: url(../images/reviews/rev4.jpg);} /* image for reviews section*/
#rev5{content: url(../images/reviews/rev5.jpg);} /* image for reviews section*/
#rev6{content: url(../images/reviews/rev6.jpg);} /* image for reviews section*/