#butoni {
    opacity: 0;
}

#showButton {
    opacity: 0;
    position: fixed;
    bottom: 140px;
    right: 50px;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    z-index: 4000;
}

.toTopButtonImage {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.buttonScroll-visible {
    opacity: 1;
    animation: fadeInRight 1s ease 1 forwards;
}

.buttonScroll-hidden {
    opacity: 0;
    animation: fadeOutRight 1s ease 1 forwards;
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }
}