
.face {
    content: url(../images/face.png);  /* logo added */
    width: 50px; /* logo width */
}

.linkedin {
    content: url(../images/linkedin.png); /* logo added */
    width: 50px; /* logo width */
}

.twitter {
    content: url(../images/twitter.png); /* logo added */
    width: 50px; /* logo width */
}

.footer {
    position: relative; /*  */
    bottom: 0; /*  */
    display: flex; /*  */
    justify-content: space-between; /* justify-content space-between is used when we have 2 elements inside a parent element, this will push both elements away from each other as far as possible */
    height: 60px; /*  */
    width: 90%; /*  */
    padding: 2% 5%; /*  */
    background-color: rgba(0, 0, 0, 1); /*  */
    align-items: center; /*  */
}
.copyright {
    display: flex; /*  */
    flex-direction: column; /*  */
    width: 85%; /*  */
}

.copyrightName {
    padding: 0; /*  */
    margin: 0; /*  */
    color: white; /*  */
}


.copyrightName a {
    text-decoration: underline; /*  */
    color: white; /*  */
}

.name a {
    text-decoration: none; /*  */
}
.images {
    width: 15%; /*  */
    display: flex; /*  */
    justify-content: space-between;/* justify-content space-between is used when we have 2 elements inside a parent element, this will push both elements away from each other as far as possible */
}

#butoni {
    opacity: 0; /* this is 0 so that it will be changed with javascript to reveal the button */
}

#showButton { /* styled the button and also positioned it on a fixed position on the page */
    opacity: 0;  /*  */
    position: fixed; /*  */
    bottom: 140px; /*  */
    right: 50px; /*  */
    margin: 0; /*  */
    padding: 0; /*  */
    width: 30px; /*  */
    height: 30px; /*  */
    z-index: 4000; /*  */
}

.toTopButtonImage {
    overflow-x: hidden; /*  */
    content: url(../images/arrowup.png); /* image added */
    margin: 0; /*  */
    padding: 0; /*  */
    width: 60px; /*  */
    height: 60px; /*  */
    cursor: pointer; /*  */
}
 /* =======================================
    These classes will be added to the element
    through javascript, they change the opacity
    and animation of the element,
     which makes the button appear
 =======================================*/
.buttonScroll-visible {
    opacity: 1; /*  */
    animation: fadeInRight 1s ease 1 forwards; /*  */
}
.buttonScroll-hidden {
    opacity: 0; /*  */
    animation: fadeOutRight 1s ease 1 forwards; /*  */
}

@keyframes fadeInRight {
    0%{opacity: 0; transform: translateX(100%);}
    100%{opacity: 1; transform: translateX(0);}
}
@keyframes fadeOutRight {
    0%{opacity: 1; transform: translateX(0);}
    100%{opacity: 0; transform: translateX(100%);}
}
/*================================================ 
================================================ */

/* This media screen will change the images width to 20% */
@media screen and (max-width: 1400px){
    .images {
        width: 20%;
    }
}